<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382893184897-2tn1jr9ul61phllugbl5nn8r3ke16lv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382893184897-2tn1jr9ul61phllugbl5nn8r3ke16lv1</string>
	<key>API_KEY</key>
	<string>AIzaSyDgsfeaqj3zrPMAxjvCHL0zubKcw5ReQlU</string>
	<key>GCM_SENDER_ID</key>
	<string>382893184897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SECC</string>
	<key>PROJECT_ID</key>
	<string>seccbancodados</string>
	<key>STORAGE_BUCKET</key>
	<string>seccbancodados.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:382893184897:ios:f63d26846437d408cfba80</string>
	<key>DATABASE_URL</key>
	<string>https://seccbancodados-default-rtdb.firebaseio.com/</string>
</dict>
</plist>
